@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Sirin+Stencil&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

a.active hr {
  @apply block
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.sirin-stencil-regular {
  font-family: "Sirin Stencil", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  @apply hidden;
}

@media (max-width:640px) {
  a.active {
    @apply bg-black text-white
  }
}